*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; }

body {
  /* box-sizing: border-box; */
  font-family: 'Lobster', cursive;
  text-align: center;
 
}
::selection {
  background-color: white;
  color: black; }

 /* container */
#title{
  height: 12rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin-bottom: 2rem;
}

.header {
  background-image: linear-gradient(to right, rgb(107, 108, 109), rgb(33, 31, 36));
  color: white; 
  padding: 2rem 5rem 2rem;
}
.header__name {
    font-size: 3rem; 
    font-family: 'Pacifico', cursive;
    letter-spacing: .5rem;
    font-weight: bold;
}
.header__des{
  font-size: 1.8rem;
  font-family: 'Lobster', cursive !important;
  letter-spacing: .2rem;
  font-weight: lighter;
  margin-top: 8px;
}

   /* Navigation bar */
.navbar{
  padding:0 0 4.5rem !important;
    text-align: center;
    margin-top: -4.8rem;
    display: inline-block;
    position: fixed;
}
 .nav-item{
    padding: 0 13px;
} 
.nav-link{
    font-size: 1.7rem;
    color: white;
    font-weight: 400;  
}
.nav-link:hover{
  color:rgb(245, 77, 26);
}
.navbar-toggler{
  float: inline-end;
}

/* ABOUT */
#about{
  text-align: center;
  background-color: rgb(221, 218, 218);
  padding: 5% 25% 10%;
  color: rgb(36, 34, 34);
  margin-top: 4rem;
  position: relative;
}
.about-section{
  position: relative;
}
.my-name{
  font-size: 3rem;
  font-family: 'Righteous', cursive;
  letter-spacing: .2rem;
  word-spacing: .4rem;
  padding-bottom: 1.5rem;
  margin-top: 4.5rem;

}
.intro-description{
  font-size: 2.3rem;
  line-height: 1.7;
  font-weight: 300; 
}
.email{
  font-size: 2.2rem;
  font-family: 'Righteous', cursive;
  padding-top: 1.7rem;
  font-weight: 100;
}
.email:active{
  transform: translateY(5px);
}


                                            /* TESTIMONIALS */
   .testimonial-imagee{
    width: 100vw;
    height: 100vh;
  }
  .testimonial-image{
    width: 100vw;
    height: 100vh;
  }

                                            /* SKILLS */
#skills{
  background-image: linear-gradient(to right bottom, rgb(228, 166, 176), rgb(226, 226, 90));
  padding: 2% 4% 5%;
  color: white;
  text-align: center;
  position: relative;
}
.service-heading{
  font-size: 4.5rem;
  letter-spacing: .2rem;
  word-spacing: .4rem;
  display:inline-block;
  padding-bottom: 3.5rem;
  line-height: 4rem;
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
}
.service-column{
  background-color: white;
  border-radius: 5px;
  transition: all .2s;
  margin-right: .6rem;
  padding: 3rem;
  margin: auto !important;
  margin-bottom: 3rem !important;
}
.service-body{
  background-image: radial-gradient(rgb(243, 243, 224) , rgb(175, 114, 23));  
  background-size: cover;
  color: white;
}
/* .service-column:not(:last-child){
  margin-left: 4rem;
  margin-bottom: 2rem;
} */
.service-column:hover{
  transform: scale(1.05) translateY(-3rem);
}
.card-header> h3{
  margin: 0;
  background-color: rgb(27, 27, 26);
  border-radius: 100px;
padding:.5%;
}
.padding-zero{
  padding: 0;
  /* font-size: 18px; */
}
.card-body{
  margin: auto;
  color: white;
}
.loader {
  border: 16px solid rgb(245, 243, 243);
  border-radius: 50%;
  border-top: 16px solid #171718;
  width: 100%;
  height: 100vh;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  color: white;
  margin: auto 0;
  padding: 0;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
.imgt{
  margin-top:2rem;
  margin-bottom: 2rem;
}
.pp{
	font-size:2.5rem;
  text-align:center;
  color: black;
  padding: 1.5rem;
}

                                               /* MY-WORK */
#my-work{
  padding: 2% 7%;
  text-align: center;
  position: relative;
}

/* video */
.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .20;
  overflow: hidden;
}
.bg-video__content{
      height: 100%; 
      width: 100%;
      object-fit: cover;
   
}
.card-deck{
  margin-bottom: 4rem;
  color: white;
  /* height: 65vh; */
}
.card{
  border: 4px solid black;
  border-radius: 10px;
}

/* card -of work section*/
.container {
  height: 350px;
  width: 600px;
  transform: translateX(10rem);
  display: flex;
}
.card-work {
  display: flex;
  height: 410px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}
.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
.card-img-top{
  height: 30vh;
  width: 10vw;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}
.card-work{
  background-image: radial-gradient(  rgb(51, 43, 43) , rgb(158, 155, 167));
}
.card-text{
  font-size: 1.6rem;
  padding: 2rem 1rem 2rem;
  font-weight: 400;
}
.btn-work{
  margin: .7rem 0 1.8rem;
  padding: .5rem 1.8rem;
  font-size: 1.7rem;
  text-decoration: none;
}

/* ribbon */
.box {
  position: relative;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 50;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 50;
  content: '';
  display: block;
  border: 5px solid black;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: black;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 16px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
  z-index: 50;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* wrapper */
.wrapper{
  position: fixed;
}

.link_wrapper{
  position: relative;
   top: 50%;
  left: 73%;
   transform: translate(-50%, -30%);
} 

.link_wrapper >a{
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
 font-size: 1.3rem;
 font-weight: bold;
  text-decoration: none;
  background: rgb(238, 232, 232);
  text-align: center;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  margin: 3rem 0 1rem;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 135px;
  top: 0;
  z-index: 10;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #000;
  transition: all .35s;
}

.link_wrapper >a:hover{
  width: 200px;
  border: 3px solid #ecf3ef91;
  background: transparent;
  color: white;
  text-decoration: none;
}

.link_wrapper >a:hover + .icon{
  right: 29%;
  color: #000;
  text-decoration: none;
}



                               /* FOOTER */
#footer{
  background-image: radial-gradient( rgb(151, 157, 161), rgb(33, 31, 36));
  color: white;
  padding: 2.5% 0;
}
.contact-heading{
  font-size: 4.5rem;
  letter-spacing: .2rem;
  word-spacing: .4rem;
  font-weight: bolder;
  padding-bottom: 5rem;
  display:inline-block;
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
}
.foot-text{
  margin:4rem 0 2rem 10rem;
}
.rubab{
  font-size: 4rem;
  font-family: 'Pacifico', cursive;
  letter-spacing: .4rem;
  transform: translateY(-15px);
  transition: all .2s;
  display: inline-block;
  border-bottom: 2px solid white;
  
}
.rubab:hover{
  transform: scale(1.03) translateY(-3rem);
}
.footer-tagline{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Bad Script', cursive;
}
.btn-mobile{
      font-size: 2.3rem;
      margin-top: 5rem;
      background-image: radial-gradient( rgb(95, 99, 102), rgb(33, 31, 36));
      color: white;
      border: 1px solid white ;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;  
      position: relative;
      outline: none;
      transition: all .2s;
}
.btn-mobile:hover{
      transform: translateY(-10px);
      box-shadow: 0 20px 20px rgba(black, 0.2);
      outline: none;
}

.btn-mobile::after{
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
}
  
.btn-mobile:active{
      transform:translateY(-10px) ;
      box-shadow: 0 20px 10px rgba(black, 0.2);
}
.arrow{
  font-size: 15rem;
  background-color: #000;
  padding: .8rem;
  margin-left: 1rem;
}
.arrow >a{
  text-decoration: none;
  color: white;
}
.arrow >a:hover{
  text-decoration: none;
  color: white;
}

/* SOCIAL MEDIA LINKS */
.media-part{
  transition: all .2s;
}
.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem;
  transition: all .2s;
}
.social-media:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 20px rgba(black, 0.2);
}
.icon-text{
  font-size: 1.7rem;
  padding-left: 2rem;
  color: white;
  font-family: 'Righteous', cursive;
}
.href:hover{
  text-decoration: none;
  color: white;
}
.gmail{
  transform: translateX(-1.9rem);
}
.icon-media{
  border-radius: 50%;
  overflow: hidden;
  font-size: 5rem;
  backface-visibility: hidden;
  flex-direction: row;
}
.icon-fb{
  color: white;
  background-color:  #3b5998;  
}
.icon-github{
  color: black;
  background-color: white;
  font-size: 5rem !important;
}
.icon-twitter{
  color: rgb(53,155,237);
  background-color:white;
}
.icon-gmail{
  background-color: white;
  color: rgb(214, 66, 21);
}
.icon-instagram{
   background-color:  white;
  color: #ca1a4f; 
  margin-left: 3rem;
  font-size: 5.5rem !important;
}
.right{
  text-align: center;
  font-size: 1.7rem;
  transform: translateY(3rem);
}

                /* media queries */
    /* navbar */
@media (max-width:991px){
  .navbar{
      float: right;
      z-index: 500;
      display: block;
  }
}
    /* work-cards */
@media (max-width:1215px){
    .icon{
      position: absolute;
      right: 13rem;
      top: 4px;
    }
}
@media (max-width:1165px){
  .link_wrapper{
    left: 66%;
  } 
  .icon{
    position: absolute;
    right: 8.5rem;
    top: 4px;
  }
  .footer-tagline{
    font-size: 2.3rem;
  }
}
 @media (max-width:990px){
  .link_wrapper{
    left: 60%;
  } 
  .icon{
    position: absolute;
    right: 6.5rem;
    top: 4px;
  }
  .link_wrapper >a:hover + .icon{
    right: 25%;
  }
  .rubab{
    font-size: 3rem;
  }
  .footer-tagline{
    font-size: 2rem;
  }
}
@media (max-width:940px){
  .container {
    height: 350px;
    width: 900px;
  }
  /* .card-work {
    display: flex;
    height: 410px;
  } */


  /* .link_wrapper{
    left: 60%;
  } 
  .icon{
    position: absolute;
    right: 6.5rem;
    top: 4px;
  }
  .link_wrapper >a:hover + .icon{
    right: 25%;
  }
  .rubab{
    font-size: 3rem;
  }
  .footer-tagline{
    font-size: 2rem;
  } */
}































